:root {
  font-size: 16px;
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f4;
  --transition-speed: 600ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  color: var(--text-primary);
  font-weight: 600;
  margin-bottom: .625rem;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.25rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 3.75rem;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 1.25rem;
}

.header ul li a {
  color: var(--text-secondary);
  display: flex;
  align-items: center;
}

.btn:hover,
header ul li a:hover {
  opacity: 0.9;
}

.header ul li a svg {
  margin-right: .325rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.1rem;
  padding: 0 1.25rem;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .625rem
}

.goal {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  margin: .625rem 0;
  padding: 1.25rem 0 .625rem;
  position: relative;
}

.goal .close {
  color: var(--text-secondary);
  position: absolute;
  top: .625rem;
  right: 1rem;
  cursor: pointer;
  border: none;
  background: none;
}

.goal .edit {
  color: var(--text-secondary);
  position: absolute;
  top: .625rem;
  right: 2.25rem;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: .625rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: .625rem;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: .625rem;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 .325rem .175rem;
}

.btn {
  padding: .325rem 1.25rem;
  border: none;
  border-radius: 5px;
  color: var(--bg-primary);
  background-color: var(--text-primary);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: .5rem;
}

.btn-block {
  width: 100%;
  margin-bottom: 1.25rem;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 4rem;
  height: 4rem;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.test-paragraph {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

@media (prefers-color-scheme: light) {
}
@media (prefers-color-scheme: dark) {
}